<%- include('partials/head') -%>
<%- include('partials/nav-bar') -%>

<main>

  <div class="container row border-bottom border-dark py-5 margin-auto">
    <section class="col d-flex flex-column align-items-center min-w-250">
      <div class="col d-flex flex-column fs-3">
        <span>Username: <%= userInfo.userName %></span>
        <span class="">Name: <%= user.name %></span>
        <span>Phone: <%= userInfo.phoneNumber %></span>
        <span>Role: <%= userInfo.role %></span>

        <% if(userInfo._id === user._id) {%>
          <div class="container d-flex justify-content-center mt-3">
            <div class="dropdown">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" aria-expanded="false">
                Update Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuClickableInside">
              <form class="w-max-content px-4 py-3" action="/updateProfile" method="POST">
                <h3>Update Profile</h3>
                  <div class="my-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                  </div>
                  <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                  </div>
                  <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <input type="text" class="form-control" id="role" name="role">
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </ul>
            </div>
          </div>
        <% } %>
      </div>
    </section>

    <section class="col d-flex flex-column align-items-center min-w-250">
      <div class="col text-center">
        <h3 class="border-bottom border-dark pt-3">Teams</h3>
        <% if(user.team) {%>
          <span><%= user.team %></span>
        <%} else { %>
          <span>Not on any teams</span>
        <% } %>
        <% if(userInfo._id === user._id) {%>
        <div class="container d-flex justify-content-center mt-3">
          <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" aria-expanded="false">
              Join or Create Team
            </a>
            <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuClickableInside">
            <div class="w-max-content px-4 py-3">
              <h2>Join a team</h2>
            <form action="/team/joinTeam" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="mb-3">
              <label for="teamId" class="form-label">Team ID</label>
              <span>(Get from a team member)</span>
              <input type="text" class="form-control" id="teamId" name="teamId">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Join Team</button>
          </form>
          <h2>Add a team</h2>
          <form action="/team/createTeam" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="mb-3">
              <label for="teamName" class="form-label">Name (required)</label>
              <input type="text" class="form-control" id="teamName" name="teamName">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Create Team</button>
          </form>
            </div>
          </ul>
          </div>
        </div>
        <% } %>
      </div>
    </section>
  </div>

  <section class="container my-5">
    <div class="container row">
      <h3 class="text-center">Assigned Projects</h3>
    </div>
    <table class="table table-hover mt-4">
      <thead class="table-header table-dark">
        <th scope="col"><a href="/sort-by-client" class="text-light text-decoration-none">Client</a></th>
        <th scope="col"><a href="/sort-by-leader" class="text-light text-decoration-none">Leader</a></th>
        <th scope="col">Next Step</th>
        <th scope="col"><a href="/sort-by-date" class="text-light text-decoration-none">Scheduled Date</a></th>
      </thead>
      <tbody>
        <% for(var i=0; i<projects.length; i++) {%>
          <tr>
              <td><a href="/profile/<%= projects[i]._id%>" class="text-dark text-decoration-none"><%= projects.projectName %></a></td>
              <td><%= projects.leader %></td>
              <td><%= projects.nextStep %></td>
              <td><%= projects.schedule %></td>
          </tr>
      <% } %>
      <tr>
        <td><a href="/client" class="text-dark text-decoration-none">Angela Jackson</a></td>
        <td><a href="/profile" class="text-dark text-decoration-none">Peter Jackson</a></td>
        <td><a href="/client#next-step" class="text-dark text-decoration-none">Phone call</a></td>
        <td>05/12/2022</td>
      </tr>
      <tr>
        <td>James Price</td>
        <td>Peter Jackson</td>
        <td>Process payment</td>
        <td>05/08/2022</td>
      </tr>
    </tbody>
    </table>
  </section>
</main>



<!-- <div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a project</h2>
            <form action="/project/createProject" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/dashboard">Return to Dashboard</a>
        </div>  
      </div>  
    </div>
  </div>
</div> -->
<%- include('partials/foot') -%>